<div class="col d-flex justify-content-center">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/processpension.jpg" alt="Process Pension">
        <div class="card-body">
          <h5 class="card-title">Process Pension</h5>
          <p class="card-text">Enter Aadhar No to process pension</p>
          <a routerLink="../aadhar" (onClick)="processPension()" class="btn btn-primary">Enter</a>
        </div>
      </div>
      <div class="" style="width: 10rem;"></div>
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/pensiondetails.jpg" alt="Get Pension Details">
      <div class="card-body">
        <h5 class="card-title">Get Pension Details </h5>
        <p class="card-text">Enter Aadhar No to see pension details</p>
        <a routerLink="../pension-details" (onClick)="getPensionDetails()" class="btn btn-primary">Enter</a>
      </div>
    </div>

</div>

