<div class="container-fluid">
  <router-outlet></router-outlet>
  <h2 align="center">Get Pension Details</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <br>
        <img src="../../../assets/aadhar.png" class="img-fluid" alt="Responsive image">
      </div>
      </div>
      <div class="col-sm">
      <div class="col-sm">
        <div style="width: 80%;">
          <form #f="ngForm" (ngSubmit)="submit(f)">
               <div class="form-group">
                <br>
                <label for="exampleInputPassword1">Enter Aadhar Number To See Pension Details</label>
                <input required ngModel name="aadharNo" #aadharNo="ngModel" type="text" class="form-control"
                placeholder="User Name" ng-minlength="12" ng-maxlength="12" aria-label="Aadhar No" id="aadharNo" required="true">
               </div>
              <br>
              <button type="submit" [disabled]="!f.valid || clicked" class="btn btn-primary">{{submitButtonText}}</button>&nbsp;
              <button type="button" (click)="goBack()" class="btn btn-secondary">Back</button>
            </form>
            </div>
      </div>
    </div>
  </div>

  <div class="col d-flex justify-content-center text-success" >{{responseMsg}}</div>
  <div class="col d-flex justify-content-center text-danger" >{{errMsg}}</div>
  <div class="col d-flex justify-content-center text-primary" >{{load}}</div>
  </div>